<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

<FilesMatch "\.(image|jpeg)$">
    Header set X-Content-Type-Options nosniff
</FilesMatch>